.item1 .image {
  background: url("https://i.ibb.co/3fwMzZ8/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item2 .image2 {
  background: url("https://i.ibb.co/cyTCRPp/62c561864bd106-88717559.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 .image3 {
  background: url("https://i.ibb.co/BrVMJ48/banner-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("https://i.ibb.co/8jBv5xn/62c562f5bfcd62-92139011.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
